@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-mobile: 360px;
  --breakpoint-tablet: 700px;
  --breakpoint-tablet-big: 1133px;
  --breakpoint-desktop: 1440px;

  --text-*: initial;
  --text-s8: 8px;
  --text-s16: 16px;
  --text-s18: 18px;
  --text-s20: 20px;
  --text-s24: 24px;
  --text-s28: 28px;
  --text-s32: 32px;
  --text-s60: 60px;
  --text-s100: 100px;
  --text-s104: 104px;
  --text-s160: 160px;
  --text-s200: 200px;

  --color-*: initial;

  --color-white-400: #bdbdbd;
  --color-white-950: #fff;
  /* better without shadow */
  --text-shadow-logo: 0 0 4px --alpha(var(--color-white-950) / 60%);

  --color-black-800: #181818;
  --color-black-900: #131313;
  --color-black-950: #000;

  --color-blue-400: #b8e1ee;
  --color-blue-400-12: --alpha(var(--color-blue-400) / 12%);

  --color-pink-400: #e6b8ee;
}

body {
  font-family: var(--font-roboto), sans-serif;
}
