@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-mobile: 360px;
  --breakpoint-tablet: 700px;
  --breakpoint-tablet-big: 1133px;
  --breakpoint-desktop: 1440px;

  --color-*: initial;
  --color-white-400: #bdbdbd;
  --color-white-950: #fff;
  --color-black-800: #181818;
  --color-black-900: #131313;
  --color-black-950: #000;
}

body {
  font-family: var(--font-roboto), sans-serif;
}
